.p1
{
    color: rgb(90, 90, 90);
    font-size: 25px;
    margin-top: -25px;
}
.lenny
{
    font-size: 50px;
}
.titlecontainer
{
    font-family: "Arial";
    width: 300px;
    height: 200px;
    text-align: center;
}